body {
    margin: 0;
    padding: 70px 0px 0px 0px;
    background-size: 100% 100%;
    background-position: center;
}
/* toda la parte del nav */

nav {
    background-color: #000000; /*  #f2bb5b */
    font-size: 18px;
    position: fixed !important;
    width: 100%; /* Ancho completo */
    top: 0; /* Colocar en la parte superior */
    z-index: 1000;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logotipo {
    font-size: 71px !important;
    font-family: 'Dancing Script', cursive;
    display: flex;
    text-decoration: none;
    color: #ffff;
    margin: -20px;
}

.cuadro-logotipo{
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-fluid {
    display: flex;
    justify-content:left;
    align-items: center;
}

#login{
    margin-right: 3%;
}

.cuadro-login{
    background-color: #ffff;
    width: 200px;
    border-radius: 30px;
    margin: 5px 0px;

}

.cuadro-login a{
    text-decoration: none;
    color: #000000; /*  #f2bb5b */
    font-weight: bold;
}

.cuadro-login svg{
    margin: 5px 10px;
}

.nav-item{
    margin: 1px 5px;
    
}
.nav-item:hover{
    border-bottom: 2px solid #ffffff;
    margin: 0px 5px;
}

/* Personalizacion del submenu */

.submenu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #000000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    font-family:'Times New Roman', Times, serif;
    line-height: 40px;
}

.submenu p {
    font-weight: bold;
    text-decoration: underline;
    margin: 10px 20px;
}

.submenu ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 20px;
    
}

.submenu li {
    margin: 5px 0px 0px 10px;
}

.submenu li:hover{
    transform: scale(1.2);
}

.submenu a{
    text-decoration: none;
    color: #000000;
}

.submenu a:hover{
    color:#f2bb5b;
}

.nav-item:hover .submenu {
    display: block;
}

/* fin de la personalizacion del submenu */

.fondo-inicio{
    background: url('../img/aretes/arete-html-fondo-inicio.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
}

.fondo-inicio-texto {
    padding: 0px 50px;
    /* font-family: 'Dancing Script', cursive; */
    display: flex;
    width: 800px;
    flex-direction: column;
}

.fondo-inicio-texto-menu{
    font-family: 'Cormorant', serif;
    font-size: 25px;
    margin: 20px 0px;
}

.fondo-inicio-texto-categoria{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 20px;
    font-weight: bold;
}

.fondo-inicio-texto-descripcion{
    font-family: 'Cormorant', serif;
    font-size: 30px;
    margin: 0px 20px;
    letter-spacing: 0px;
    width: 520px;
}

/* contenido de ejemplo */

.content-muestra{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 3%;
    padding-bottom: 5%;
    
}

.content-muestra a{
    text-decoration: none;
    color: #000000;
}

.content-muestra-aretes{
    margin: 40px 10px;
}


.muestra-aretes-nombre{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;

}

.muestra-aretes-imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 20px;
}

.muestra-aretes-imagen:hover{
    transform: scale(1.2);
    filter: brightness(1.15);
}

.muestra-aretes-imagen img{
    height: 150px;
    width: auto;
}


/* 
.muestra-aretes-descripcion{
    display: none;
} */

.muestra-aretes-medida{
    display: none;
}

.muestra-aretes-stock{
    display: none;
}

/* estrellas que seran dejadas de lado por el momento */


.muestra-aretes-estrellas{
    display: flex;
    align-items: center;
    justify-content: center;
}

.muestra-aretes-estrellas img{
    width: 50px;
    height: auto;
    margin: 10px;
}

/* fin del estilo de las estrellas */


.muestra-aretes-precio{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
}


/* Estilizado completo del Footer */

footer{
    position: relative;
    display: flex;
    background: #000000;
    justify-content: center;
    color: #ffffff;
}

.footer-content{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;

    margin: 30px;
    align-items: center;
}

.logotipo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-weight: bold;
}

.grupo{
    position: absolute;
    top:39%;
    right: 3%;
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.derecho-reservado{
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 20px;
}